body{
    background-image: linear-gradient( 359deg,  rgba(150,192,255,1) -17.7%, rgba(255,180,161,1) 101.5% );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-grad {
    background-image: linear-gradient(to right, #cb2d3e 0%, #ef473a  51%, #cb2d3e  100%);
    padding: 10px 30px;
    margin-top:30px; 
    border-radius: 50px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
}

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}

#card{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
    
#card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#headerRow {
    height: 250px;
}

#headerRow #logo {
    height: 120px;
    margin-top: 40px;
}

h5{
    margin-top: -50px;
    font-family: 'Patrick Hand';
    font-size: 20px;
    color: #d02838;
}

.form-group input, .form-group optgroup, .form-group textarea {
    border-radius: 10px;
}

.button_invia{
    margin-bottom: -90px;
}

.list-group-item {
    background-color:transparent;
    padding: 7px;
}

#gauge-gulpease{
    margin-top: 20px;
}
#gauge-level1{
    margin-top: 20px;
}
#gauge-level2{
    margin-top: 20px;
    
}
#gauge-level3{
    margin-top: 20px;
}

.tooltip {
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
}

.tooltip .tooltip-inner{
    color: black;    
}

.tooltip .info-success{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(1,150,21,1) 0%, rgba(198,239,146,1) 90% );
}

.tooltip .info-danger{
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
}

.tooltip .info-warning{
    background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);
}

.popover{
    max-width: 90%; 
    font-family: 'Barlow';
}

.popover ul{
    padding: 0px 120px 0px;
    margin-top: -20px;
}

.popover .popover-body {
    color: black;
}

.popover .popover-header{
    color: black;
}

.danger{
    background-color: #FD5D35;
    font-size: 13px;
    border-radius: 4px;
    margin-top: -20px;
}

.warning{
    background-color: rgb(255, 188, 65);
    font-size: 13px;
    border-radius: 4px;
    margin-top: -20px;
}

.success{
    background-color: #BBE000;
    font-size: 13px;
    border-radius: 4px;
    margin-top: -20px;
}

.form-check [type=checkbox]:focus+label, .form-check [type=radio]:focus+label, .toggles label input[type=checkbox]:focus+.lever, :focus {
    box-shadow: 0 0 0 0px black;
}

#footer_logo img {
    height: 25px;
    margin: 15px;
    margin-top: 110px;
}

#footer p{
    margin-top: -15px;
    font-size: 13px;
}

.area_testo{
    border:solid 1px rgba(204, 204, 204, 0.666); 
}

.area_testo:focus{
    border-color:rgba(67, 57, 242, 0.1);
}
#part1.inactive, #part2.inactive, #part3.inactive {
    display: none;
}

.sentence {
    border-radius: 3px;
    line-height: 1.8em;
}

.sentence .row-sentence {
    font-size: 70%;
    border-radius: 6px;
    margin: 10px 0;
    padding: 5px 3px 10px 3px;
    background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% );
    line-height: 1.4em;  
}

.sentence .row-sentence-ner {
    font-size: 70%;
    border-radius: 6px;
    margin: 10px 0;
    height: 1px;
    background-color:  black;
    line-height: 1.4em;  
}

.badge{
    font-size: 85%;
    height: 14px;
}

.badge-success {
    margin-top: 3px;
    background-color: #BBE000;
}

.badge-danger {
    margin-top: 3px;
    background-color:#FD5D35;
}

.badge-warning {
    margin-top: 3px;
    background-color: #ffc300;
}

.word_hover:hover {

    background-color: white;
}

.label {
    font-size: 100% !important;
    font-weight: normal !important;
}

@media (max-width: 575.98px) {
    #statistics1{
        font-size: 12px;
    }
    #statistics2{
        font-size: 12px;
    }
}

@media (min-width: 575.98px) {
    #statistics1{
        font-size:14px;
    }
    #statistics2{
        font-size:14px;
    }
}

.spinner {
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor: progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto; 
}

.has-spinner.btn-mini.active .spinner {
    width: 100px;
}

.has-spinner.btn-small.active .spinner {
    width: 130px;
}

.has-spinner.btn.active .spinner {
    width: 160px;
}

.has-spinner.btn-large.active .spinner {
    width: 190px;
}

.card.card-big .etichetta {
    top: 20px;
}

.it-carousel-wrapper.it-carousel-landscape-abstract .owl-dots {
    left: 27%;
    right: 27%;
    bottom: -50px;
}

.it-list-wrapper{
    margin-top: 30px;
}

.alert-success {
    font-weight: bold;
    font-size: 14px;
}

.alert-warning {
    border-left: 8px solid #ffc300;
    border-color: #ffc300;
}

.alert-danger {
    border-left: 8px solid #FD5D35;
    border-color: #FD5D35;
}

.fa-info:hover{ 
    color: #D02838;
}

.fa-info{
    font-size:12px;
}

.badge-pill{
    padding-bottom: 13px;
}

.badge-info{
    color: #fff;
    background-color: hsla(354, 68%, 49%, 0.831);
}

.badge-tag-green{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    background-color: #BBE000;
    color: black;
    margin-right: 5px;
}

.badge-tag-blue{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    background-color: #C9F0F7;
    color: black;
    margin-right: 5px;
}

.badge-tag-orange{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    background-color: #ffc300;
    color: black;
    margin-right: 5px;
}

.badge-tag-red{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    background-color: #FD5D35;
    color: black;
    margin-right: 5px;
}

.pos{
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7; 
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-p{
    background-color: #ff0d0d7c;
    border: 1px solid #ff0d0d7c;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-r{
    background-color: #d3ccff;
    border: 1px solid #d3ccff;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-b{
    background-color: #f6f3a2;
    border: 1px solid #f6f3a2;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-vm{
    background-color: #deffb8;
    border: 1px solid #deffb8;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-f{
    margin-left: 2px;
    background-color: #ffc4beb3;
    border: 1px solid #ffc4beb3; 
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-a{
    background-color: #CCDAF6;
    border: 1px solid #CCDAF6;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-e{
    background-color: #FFE8BE;
    border: 1px solid #FFE8BE; 
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-nw{
    background-color: #FFFDA8;
    border: 1px solid #FFFDA8;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-dcd{
    background-color: #CCADF6;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
    border: 1px solid #CCADF6;
}

.pos-s{
    border: 1px solid #edd4ffcd; 
    background-color: #edd4ffcd; 
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-c{
    border: 1px solid #afffa8;
    background-color: #afffa8;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.pos-ilsfw{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF; 
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.legenda{
    font-size: 11px;
}

@media(max-width: 575px){
    .row-small{
        margin-left:-20px;
    }
}

.s{
    font-size:11px; 
    background-color: #edd4ffcd; 
    border-radius: 2px; 
    padding: 0px 1px;
}

.a{
    font-size:11px; 
    background-color: #CCDAF6;
    border-radius: 2px; 
    padding: 0px 1px;
}

.b{
    font-size:11px; 
    background-color: #f6f3a2;
    border-radius: 2px; 
    padding: 0px 1px;
}

.f{
    font-size:11px; 
    background-color: #ffc4beb3; 
    border-radius: 2px; 
    padding: 0px 1.4px;
}

.x{
    font-size:11px; 
    background-color: #F7F7F7; 
    border-radius: 2px; 
    padding: 0px 1.4px;
}

.e{
    font-size:11px; 
    background-color: #FFE8BE;
    border-radius: 2px; 
    padding: 0px 1.4px;
}

.v{
    font-size:11px; 
    background-color: #deffb8;
    border-radius: 2px; 
    padding: 0px 1px;
}

.r{
    font-size:11px; 
    background-color: #d3ccff;
    border-radius: 2px; 
    padding: 0px 1px;
}

.n{
    font-size:11px; 
    background-color: #FFFDA8;
    border-radius: 2px; 
    padding: 0px 1px;
}

.d{
    font-size:11px; 
    background-color: #CCADF6;
    border-radius: 2px; 
    padding: 0px 1px;
}

.p{
    font-size:11px; 
    background-color: #ff0d0d7c;
    border-radius: 2px; 
    padding: 0px 1px;
}

.c{
    font-size:11px; 
    background-color: #afffa8;
    border-radius: 2px; 
    padding: 0px 1px;
}

.nav-tabs .nav-link:hover {
    color: #D02838;
    border-bottom-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    border-bottom-color: #D02838;
}

.nav-tabs .nav-link {
    color: gray;
    font-weight: 500;
}

.card-title{
    font-weight: 500;
    color:#D02838;
}

@media (max-width: 460px){
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        font-size: 9px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs{
        font-size: 9px;
    }
}

@media (min-width:  460px) and (max-width: 726px) { 
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        font-size: 14px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs{
        font-size: 14px;
    }
}

@media (min-width:  726px) { 
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        font-size: 16px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs{
        font-size: 16px;
    }
}

.legenda-label{
    margin-left:23px;
}

@media (min-width: 575.98px){ 
    .size{
        font-size: 14px;
    }
    h6{
        font-size: 14px;
    }
}

@media (max-width: 575.98px){ 
    .size{
        font-size: 12px;
    }
    h6{
        font-size: 12px;
    }
}

.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
}

@media (min-width: 576px) and (max-width: 991.98px) {
    #showJson{
        font-size: 12px;
    }
}

@media (max-width: 575.98px){ 
    #showJson{
        font-size: 9px;
    }
}

.p-4 {
    padding: 10px!important;
    margin-left: 20px;
}

@media (max-width: 650px){ 
    .header-card{
        font-size: 16px;
    }
}

.header-card{
    margin-left:10px;
    font-weight: 500;
}

@media(min-width: 992px){
    .top{
        margin-top:10px;
    }
}

/* Rounded tabs */
@media (min-width: 576px) {
    .rounded-nav {
      border-radius: 50rem !important;
    }
  }
  
@media (min-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
}

@media (max-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
    .bg-light {
      border-radius: 20px !important;
    }
}

.nav-tabs .nav-link.active {
    background-image: linear-gradient(to right, #cb2d3d 0%, #ef473a  51%, #cb2d3e  100%);
    transition: 0.5s;
    background-size: 200% auto;   
    box-shadow: 0 0 20px #eee;
}

.nav-tabs .nav-link.active:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}

.bg-light {
    background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% )!important;
}

/*NER*/
.ner_per{
    background-color: #FFCCAA;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.per{
    font-size:11px; 
    background-color: #FFCCAA;
    border: 1px solid #FFCCAA;
    border-radius: 2px; 
    padding: 0px 4px;
}

.ner_org{
    background-color: #8FB2FF;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.org{
    font-size:11px; 
    background-color: #8FB2FF;
    border: 1px solid #8FB2FF;
    border-radius: 2px; 
    padding: 0px 4px;
}

.ner_misc{
    background-color: #F1F447;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.misc{
    font-size:11px; 
    background-color: #F1F447;
    border: 1px solid #F1F447;
    border-radius: 2px; 
    padding: 0px 4px;
}

.ner_loc{
    background-color: #95DFFF;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.loc{
    font-size:11px; 
    background-color: #95DFFF;
    border: 1px solid #95DFFF;
    border-radius: 2px; 
    padding: 0px 4px;
}

.ner_dts{
    background-color: #9AFFE6;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.dts{
    font-size:11px; 
    background-color: #9AFFE6;
    border: 1px solid #9AFFE6;
    border-radius: 2px; 
    padding: 0px 4px;
}

.ner_money{
    background-color: #FFFFFF;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.money{
    font-size:11px; 
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px; 
    padding: 0px 4px;
}

.ner_percent{
    background-color: #FFA22B;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.percent{
    font-size:11px; 
    background-color: #FFA22B;
    border: 1px solid #FFA22B;
    border-radius: 2px; 
    padding: 0px 4px;
}

.ner_other{
    background-color: #E3E3E3;
    color: black;
    border-radius: 6px;
    padding: .10em .2em;
}

.other{
    font-size:11px; 
    background-color: #E3E3E3;
    border: 1px solid #E3E3E3;
    border-radius: 2px; 
    padding: 0px 4px;
}

.with-chevron[aria-expanded='true'] i {
    display: block;
    transform: rotate(180deg) !important;
}

.btn-pos {
    color: white;
    background-image: linear-gradient(to right, #ddd6f3 0%, #faaca8  51%, #ddd6f3  100%)!important;
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    background-size: 200% auto;
}

.btn-pos:hover {
    background-position: right center; /* change the direction of the change here */
    color: white;
    text-decoration: none;
}

.btn-suc{
    color: white;
    background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4  51%, #c2e59c  100%)!important;
    transition: 0.5s;
    background-size: 200% auto;  
    box-shadow: 0 0 20px #eee;
}

.btn-suc:hover {
   background-position: right center; /* change the direction of the change here */
   color: white;
   text-decoration: none;
}

.btn-war {
    background-image: linear-gradient(to right, #FF5F6D 0%, #FFC371  51%, #FF5F6D  100%)!important;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
}

.btn-war:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}
